<div class="container">
  <div class="row chat-window col-xs-5 col-md-3">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading chat-top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title">
              SAY HELLO
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="msg-container-base">
            <div class="row msg-container">
              <div class="col-md-12 col-xs-12">
                <div class="chat-msg">
                  <img src=""/>
                  <div class="message-text">
                    <p>&nbsp;</p>
                  </div>
                  <div class="chat-msg-author">
                      <strong></strong>&nbsp;
                      <span class="time">Sent at: </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-bottom-bar">
            <form style="display:inherit">
              <div class="input-group" >
                <input type="text" class="form-control input-sm chat-input" placeholder="Enter message..." name="messageText" />
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-sm chat-submit-button" />
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>